body{
    padding-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2{
    border-left: 5px solid red;
    margin:0 auto;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    width: 500px;
}


form{
    margin: 0 auto;
    padding-left: 20px;
    border: 2px solid lightgrey;
    width: 500px;
    background-color: whitesmoke;
    border-radius: 20px 20px;
    padding-bottom: 20px;
}
form div{
    padding-top: 20px;
}

input , select ,textarea{
    border: 1px solid lightgrey;
}

.btn{
    background-color: #c0c0c0;
    color: white;
    text-align: center;
    box-shadow: 0px 1px 0px darkgray;
    border: none;
    border-radius: 5px 5px;
    padding: 5px;
}